@import "font.css";

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body>* {
    padding: 70px 7.5%;

    transition: 250ms;
}

input, textarea {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;

    outline: none;
}

.ligne {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separateur-vertical {
    background-color: rgb(255, 255, 255);
    width: 1px;

    transition: 500ms;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Playball-Regular', serif;
    font-size: 50px;

    margin: 39px 0;
}

h2 {
    color: rgb(77, 61, 53);
    font-family: 'NoticiaText-Regular', serif;
    font-size: 55px;

    margin: 50px 0;

    transition: 250ms;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'NoticiaText-Regular', serif;
    font-size: 35px;

    margin: 50px 0;

    transition: 250ms;
}

h4 {
    color: rgb(255, 255, 255);
    font-family: 'Asap-SemiBold', sans-serif;
    font-size: 33px;

    margin: 15px 0;
}

h5 {
    color: rgb(170, 139, 122);
    font-family: 'Arial-SemiBold', sans-serif;
    font-size: 24px;

    margin: 15px 0;

    transition: 250ms;
}

p {
    color: rgb(77, 61, 53);
    font-family: 'Asap-Regular', sans-serif;
    font-size: 22px;

    margin: 13px 0;
}

strong {
    color: rgb(192, 25, 25);
    font-family: 'Asap-SemiBold', sans-serif;
    font-size: inherit;
}

nav a, nav p {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;

    margin: 15px;

    text-decoration: underline transparent;

    transition: 250ms;
}

nav a:hover, nav input:hover + p {
    text-decoration: underline rgb(255, 255, 255);
}

nav input:checked + p {
    text-decoration: underline rgb(255, 255, 255);
}



img {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;
}

hr {
    border-color: rgb(161, 138, 126);

    margin: 30px 0;
}

header {
    position: absolute;
    top: 0;
    z-index: 10;

    width: 100%;
    padding: 0 7.5% !important;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>input, header>img {
    display: none;
}

.logo {
    position: relative;

    transition: 250ms;
}


.logo img {
    position: absolute;
    bottom: -32px;
    right: 21px;

    width: 40px;
    height: 40px;

    transform-origin: top center;

    transition: 250ms;
}

.logo:hover img {
    animation: valise 700ms;
}

@keyframes valise {
    from {transform: rotate(0);}
    22% {transform: rotate(25deg);}
    66% {transform: rotate(-10deg);}
    to {transform: rotate(0);}
}

#recherche {
    display: flex;
    align-items: center;

    padding: 15px;
}

#recherche .barre {
    background: url(../img/decorations/loupe.svg) center no-repeat;
    background-size: contain;

    border: none;

    height: 34px;
    width: 34px;

    cursor: pointer;

    transition: transform 125ms;

    animation: retrecissement_recherche 625ms;
}

#recherche .barre:hover {
    transform: scale(120%);
}

#recherche .barre:focus {
    background: none;

    border-bottom: solid 1px rgb(255, 255, 255);

    height: 21px;
    width: 200px;

    cursor: text;

    transform: scale(100%);

    animation: elargissement_recherche 500ms;
}

#recherche .envoi {
    background: url(../img/decorations/loupe.svg) center no-repeat;
    background-size: contain;

    border: none;

    height: 34px;
    width: 0px;

    transform: scale(120%);

    cursor: pointer;

    transition: width 0s 625ms, transform 0s 625ms;
}

#recherche .barre:focus + .envoi {
    width: 34px;

    transform: scale(100%);

    transition: width 0s, transform 500ms;
}

@keyframes elargissement_recherche {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}

@keyframes retrecissement_recherche {
    from {
        background: none;
        border-bottom: solid 1px rgb(255, 255, 255);

        width: 200px;
        height: 21px;
    }
    20% {
        background: none;
        border-bottom: solid 1px rgb(255, 255, 255);

        width: 200px;
        height: 21px;
    }
    to {
        background: none;
        border-bottom: solid 1px rgb(255, 255, 255);

        width: 0px;
        height: 21px;
    }
}

header nav {
    position: relative;

    display: flex;
    justify-content: right;
    align-items: center;

    width: 280px;
}

.menu_deroulant {
    position: relative;
    height: 53px;
}

.menu_deroulant input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    opacity: 0;

    width: 100%;
    height: 53px;

    cursor: s-resize;
}

.menu_deroulant input:checked {
    cursor: n-resize;
}

.menu_deroulant input:checked:hover + p {
    text-decoration: underline transparent;
}

.menu_deroulant div {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    height: 0px;

    transition: 250ms;
}

.menu_deroulant div * {
    opacity: 0;
}

.menu_deroulant input:checked ~ div {
    height: 159px;
}

.menu_deroulant input:checked ~ div * {
    opacity: 1;
}



header #offres {
    text-decoration: none;

    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;

    margin: 10px;
    padding: 5px;
}

header #offres:hover {
    text-decoration: none;

    background-color: rgb(192, 25, 25);
}

/*****************************************************section1********************************************************************************/
#accueil{
    text-align: center;
    position: relative;
    width: 100%;
    height: 750px;
    padding: 0;
    overflow: hidden;
}
#imageHotel, #imageCroisiere, #imageSafari, #interfaceAccueil{
    position: absolute;
    top: 0;
    left: 0;
    height: 750px;
    width: 100%;
    transition: transform 1000ms;
}
#imageHotel{
    background: url(../img/acceuilHotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    overflow-x: hidden;
}
span img{
    height: 8px;
    vertical-align: middle;
}
#imageCroisiere{
    background: url(../img/acceuilCroisiere.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    transform: translateX(200%);
}
#imageSafari{
    background: url(../img/acceuilSafari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    transform: translateX(100%);
}
.fleche{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.flecheGauche{
    height: 100%;
    width: 40%;
    z-index: 1;
}
.flecheDroite{
    height: 100%;
    width: 40%;
    z-index: 1;
}
.flecheDroite button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-style: none;
    cursor: url(../img/decorations/flecheDroite.svg), e-resize;
}
.flecheGauche button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-style: none;
    cursor: url(../img/decorations/croix.svg), not-allowed;
}
#accueil h1{
    text-align: center;
    color: white;
    font-family: 'NoticiaText-Bold';
    font-size: 60px;
    border-style: solid;
    height:45vw;
    padding-top: 400px;
    margin: 0;
    width: 100%;
    height: auto;
    position: absolute;
    border-style: none;

    transition: 500ms;
}
.rondBlanc{
    background-color: rgb(255, 255, 255);
    border: solid 3px rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
#rondBlanc1{
    background-color: rgb(45, 37, 117);
}
.ronds{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    width: 100%;
}
.menu{
    text-align: center;
    font-family: 'Asap-Regular';
    background-color: whitesmoke;
    border-radius: 20px;
    width: 900px;
    height: 40px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: -20px;
    z-index: 2;
}
.menu a{
    margin-top: 5px;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    flex-wrap: wrap;
}
.menu :nth-child(1):hover{
    color: rgb(45, 37, 117);
}
.menu :nth-child(3):hover{
    color: rgb(117, 37, 86);
}
.menu :nth-child(5):hover{
    color: rgb(117, 80, 37);
}
.menu .categorie{
    display: none;
}
.menu .sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
}
.barreV{
    border-style: solid;
    border-width: 1px;
    height: 30px;
    margin-top: 5px;
}
.ligneBlanche1{
    background-color: whitesmoke;
    width: 100%;
    margin-top: -5px;
    height: 10px;

}
.ligneBlanche2{
    background-color: whitesmoke;
    width: 100%;
    margin-top: -5px;
    height: 10px;
}
#grandMenu{
    position: absolute;
    top: 750px;
    width: 100%;
    display: flex;
    padding: 0;
}
/***************************************************Responsive Design section1****************************************************************************************************/
@media screen and (max-width:899px){

    #accueil h1 span img {
        flex: 1;
        width: 100%;
    }
    #accueil h1{
        display: flex;
        flex-direction: column;
        width:min-content;
        position: relative;
        margin: auto;
        padding-top: 300px;
    }
}

@media screen and (max-width:599px){
    #imageSafari{
    background-position-x: 20%;
    }
}
@media screen and (max-width:450px){
    .flecheGauche{
        width: 150px !important;
    }
    .flecheDroite{
        width: 150px !important;
        margin-left: 35% !important;
    }
    .menu{
        width: 280px;
        display: block;
    }
    .menu a{
        display:none
    }
    .barreV{
        display: none;
    }
    .menu span .categorie{
        display: flex;
    }
    .menu span{
        display: flex;
    }
    #categorie{
        margin-top: 11px;
        margin-right: 20px;
        height: 20px;
    }
    .menu:hover .sous{
        display: block;
    }
    .menu .categorie:hover{
        color: black;
    }
    .menu ul a{
        display: block;
    }
    .menu ul li{
        color: black;
        font-size: 30px;
        list-style-type: none;
    }
    .sous li:nth-child(1):hover a{
        color: rgb(45, 37, 117);
    }
    .sous li:nth-child(2):hover a{
        color: rgb(117, 37, 86) !important;
    }
    .sous li:nth-child(3):hover a{
        color: rgb(117, 80, 37) !important;
    }
}

/* Accueil des pages de categories */

#accueil-categorie {
    position: relative;
    display: flex;


    overflow: hidden;

    height: clamp(600px, 48vw, 3000px);
    padding: 0;
}

#accueil-categorie figure {
    flex-shrink: 3;

    background-position: center;
    background-size: cover;
    height: 100%;
    width: 25%;

    transition: 250ms;
}

@media screen and (min-width: 1265px) {

    #accueil-categorie figure:hover {
        width: 38%;
        box-shadow: 0 0 75px rgba(70, 30, 0, 0.7);
        z-index: 1;
    }
}

#accueil-categorie>div {
    position: absolute;
    bottom: 15vw;
    left: 50%;
    z-index: 2;

    transform: translateX(-50%);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#accueil-categorie>div h2 {
    color: rgb(255, 255, 255);
    font-size: 65px;

    margin: 0 5px;
}

#citation {
    text-align: center;
}

blockquote {
    width: min-content;

    margin: auto;
}

blockquote p {
    white-space: nowrap;
    font-size: 26px;
}

blockquote cite {
    display: flex;
    justify-content: center;

    color: rgb(77, 61, 53);
    font-family: 'Asap-Italic', sans-serif;
    font-size: 18px;

    white-space: nowrap;

    padding: 12px 10%;
}

blockquote img {
    flex: 1;

    margin: 0 5px;

    transition: 500ms;

    width: 5%;
}
/* A propos de nos hôtels*/


/* Section 4 */

#voyages {
    text-align: center;
}

#voyages article {
    text-align: left;

    width: 1200px;
    margin: auto;
}

#voyages a {
    position: relative;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(77, 61, 53, 15%);

    height: 418px;
    width: 350px;
    margin: 20px;

    cursor: pointer;

    transition: 250ms, transform 1000ms;
}

#voyages a:hover {
    transform: scale(1.01);
}

#voyages a img {
    color: rgb(77, 61, 53);

    border-radius: 10px 10px 0 0;

    width: 350px;
    height: 233px;

    transition: 250ms;
}

#voyages a h4 {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    transform: translateX(30px) translateY(-15px);
    opacity: 0;

    width: 320px;
    height: 233px;

    margin: 0;
    padding: 20px;

    transition: opacity 500ms, transform 0ms 1000ms;
}

#voyages a:hover h4 {
    opacity: 1;
    transform: translateX(0) translateY(0);

    transition: 1000ms;
}

#voyages li {
    color: rgb(77, 61, 53);
    font-family: 'Asap-Italic', sans-serif;
    font-size: 20px;

    list-style-type: none;

    margin: 20px;
}

#voyages a>p {
    margin: 20px;
}

#voyages .offre-speciale {
    position: absolute;
    bottom: 0;
}

/* Formulaire */

#formulaire {
    text-align: center;
}

#formulaire article {
    position: relative;
    box-shadow: 0 0 20px rgba(77, 61, 53, 15%);
    border-radius: 10px;

    width: 1200px;

    margin: auto;

    transition: box-shadow 1250ms;
}

#formulaire form {
    align-items: center;

    width: 50%;

    padding: 50px;
    
    transition: 500ms;
}

#formulaire form p {
    text-align: left;

    width: 100%;

    padding: 5px;
}

#formulaire label + input, #formulaire label + textarea {
    border: solid 1px rgba(127, 127, 127, 50%);
    border-radius: 2px;
    background-color: rgba(204, 166, 146, 50%);

    width: 100%;

    padding: 5px;

    resize: vertical;

    transition: background-color 500ms;
}

::-webkit-resizer {
    background-image: url(../img/decorations/redimensionneur.svg);
    background-size: contain;
}

#formulaire label + input:hover, #formulaire label + input:focus, #formulaire label + textarea:hover, #formulaire label + textarea:focus {
    background-color: rgb(204, 166, 146);
}

#formulaire label + input:focus:invalid, #formulaire label + textarea:focus:invalid {
    background-color: rgb(192, 25, 25);
}

#formulaire form div {
    flex-wrap: nowrap;

    width: 100%;
}

#formulaire form div>* {
    flex: 1;
}

#formulaire form>input {
    border: none;
    border-radius: 4px;
    background-color: rgb(69, 123, 148);

    width: min-content;

    padding: 15px 25px;
    margin-top: 40px;

    cursor: pointer;

    transition: 125ms;
}

#formulaire form>input:hover, #formulaire form>input:focus {
    transform: scale(1.1);
    background-color: rgba(69, 123, 148, 90%);
}

#formulaire .img {
    position: absolute;
    top: 0;
    right: 0;

    background: url(../img/illustrationFormulaire.jpg) center no-repeat;
    background-size: cover;

    border-radius: 0 10px 10px 0;

    width: 50%;
    height: 100%;

    transition: 500ms 250ms;
}

/* Pied de page */

footer {
    background-color: rgb(77, 61, 53);

    text-align: center;

    padding: 30px 7.5%;
}

footer>div>* {
    width: 280px;
    margin: 25px auto;
}

footer .logo {
    margin-bottom: 70px;
}

footer .logo img {
    bottom: -32px;
    right: 39px;
}

#reseaux button {
    background-color: transparent;
    border: none;

    transition: 125ms;
}

#reseaux button:hover {
    transform: scale(1.08);
    cursor: pointer;
}

#reseaux img {
    width: 80px;

    transition: 250ms;
}

#contacts>div {
    text-align: left;

    width: min-content;

    margin: auto;
}

#contacts p {
    white-space: nowrap;
}

footer a:hover:nth-child(2) {
    text-decoration-color: rgb(161, 138, 126);
}

footer p, footer a {
    color: rgb(161, 138, 126);
    font-family: arial, sans-serif;
    font-size: 16px;

    margin: 5px;

    text-decoration: underline transparent;

    transition: 250ms;
}

@media screen and (max-width: 1412px) {

    blockquote {
        width: auto;
        max-width: 750px;
    }

    blockquote p {
        white-space: normal;
    }

    #voyages article, #formulaire article {
        width: 100%;
    }
}

@media screen and (max-width: 1394px) {

    #voyages article {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1264px) {

    #accueil-categorie figure {
        width: 33.334%;

        flex-shrink: 0;

        transform-origin: left bottom;
    }

    #accueil-categorie figure:nth-child(1) {
        animation: defilement-accueil-1 16s infinite;
    }

    #accueil-categorie figure:nth-child(2) {
        animation: defilement-accueil-2 16s infinite;
    }

    #accueil-categorie figure:nth-child(3) {
        animation: defilement-accueil-3 16s infinite;
    }

    #accueil-categorie figure:nth-child(4) {
        animation: defilement-accueil-4 16s infinite;
    }

    .separateur-vertical {
        background-color: transparent;
    }
}

@keyframes defilement-accueil-1 {
    0% {
        transform: translateX(0) scale(1.01);
        z-index: 1;
    }
    20% {
        transform: translateX(0) scale(1.01);
        z-index: 1;
    }
    25% {
        transform: translateX(-100%) scale(1.01);
        z-index: 0;
    }
    44.999% {
        transform: translateX(-100%) scale(1.01);
        z-index: 0;
    }
    45% {
        transform: translateX(300%) scale(1.01);
        z-index: 1;
    }
    50% {
        transform: translateX(200%) scale(1.01);
        z-index: 1;
    }
    70% {
        transform: translateX(200%) scale(1.01);
        z-index: 1;
    }
    75% {
        transform: translateX(100%) scale(1.01);
        z-index: 1;
    }
    95% {
        transform: translateX(100%) scale(1.01);
        z-index: 1;
    }
    100% {
        transform: translateX(0) scale(1.01);
        z-index: 1;
    }
}

@keyframes defilement-accueil-2 {
    0% {
        transform: translateX(0) scale(1.01);
    }
    20% {
        transform: translateX(0) scale(1.01);
    }
    25% {
        transform: translateX(-100%) scale(1.01);
    }
    45% {
        transform: translateX(-100%) scale(1.01);
    }
    50% {
        transform: translateX(-200%) scale(1.01);
    }
    69.999% {
        transform: translateX(-200%) scale(1.01);
    }
    70% {
        transform: translateX(200%) scale(1.01);
    }
    75% {
        transform: translateX(100%) scale(1.01);
    }
    95% {
        transform: translateX(100%) scale(1.01);
    }
    100% {
        transform: translateX(0) scale(1.01);
    }
}

@keyframes defilement-accueil-3 {
    0% {
        transform: translateX(0) scale(1.01);
    }
    20% {
        transform: translateX(0) scale(1.01);
    }
    25% {
        transform: translateX(-100%) scale(1.01);
    }
    45% {
        transform: translateX(-100%) scale(1.01);
    }
    50% {
        transform: translateX(-200%) scale(1.01);
    }
    70% {
        transform: translateX(-200%) scale(1.01);
    }
    75% {
        transform: translateX(-300%) scale(1.01);
    }
    94.999% {
        transform: translateX(-300%) scale(1.01);
    }
    95% {
        transform: translateX(100%) scale(1.01);
    }
    100% {
        transform: translateX(0) scale(1.01);
    }
}

@keyframes defilement-accueil-4 {
    0% {
        transform: translateX(-400%) scale(1.01);
    }
    19.999% {
        transform: translateX(-400%) scale(1.01);
    }
    20% {
        transform: translateX(0) scale(1.01);
    }
    25% {
        transform: translateX(-100%) scale(1.01);
    }
    45% {
        transform: translateX(-100%) scale(1.01);
    }
    50% {
        transform: translateX(-200%) scale(1.01);
    }
    70% {
        transform: translateX(-200%) scale(1.01);
    }
    75% {
        transform: translateX(-300%) scale(1.01);
    }
    95% {
        transform: translateX(-300%) scale(1.01);
    }
    100% {
        transform: translateX(-400%) scale(1.01);
    }
}

@media screen and (max-width: 1064px) {

    body>* {
        padding: 70px 3.5% ;
    }

    header {
        padding: 0 3.5% !important;
    }

    #voyages a h4 {
        opacity: 1;
        transform: translateX(0) translateY(0);

        transition: all 1000ms;
    }

    footer {
        padding: 30px 3.5% !important;
    }

    .separateur-vertical {
        display: none;
    }
}

@media screen and (max-width: 870px) {

    header>input {
        display: block;
        opacity: 0;

        position: absolute;
        z-index: 3;

        width: 34px;
        height: 34px;

        margin: 5px;

        cursor: pointer;
    }

    header>img {
        display: block;
        position: absolute;

        width: 34px;
        height: 34px;

        margin: 5px;

        transition: 125ms;
    }

    header>input:checked + img {
        transform: rotate(-90deg);
    }

    header>a {
        margin: 0 auto;
        width: auto;
    }

    header .logo img {
        right: 20px;
    }

    #recherche {
        position: absolute;
        left: -200px;
        top: 110px;
        
        width: min-content;

        transition: 250ms;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        position: absolute;
        left: -200px;
        top: 160px;
        
        width: min-content;

        transition: 250ms;
    }

    #offres {
        margin: 15px 5px !important;

        white-space: nowrap;
        width: min-content;
    }

    .menu_deroulant {
        height: auto;
    }

    header>input:checked ~ #recherche {
        left: 3.5%;
        transform: translateX(-10px);
    }

    header>input:checked ~ nav {
        left: 3.5%;
        transform: translateX(-10px);
    }

    #formulaire .img {
        opacity: 0;

        width: 0%;

        transition: 500ms;
    }

    #formulaire form {
        width: 100%;

        transition: 500ms 250ms;
    }
}

@media screen and (max-width: 740px) {

    body>* {
        padding: 40px 3.5%;
    }

    h2 {
        font-size: 45px;
        margin: 43px 0;
    }

    #accueil-categorie figure {
        width: 50% !important;
    }

    #accueil-categorie figure:hover {
        box-shadow: none;
        z-index: 0;
    }

    #accueil-categorie>div {
        flex-direction: column;
    }

    #voyages a {
        height: 374px;
        width: 305px;
    }

    #voyages a img {
        height: 202px;
        width: 305px;
    }

    #voyages a h4 {
        height: 202px;
        width: 285px;
    }
}

@media screen and (max-width: 464px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
        margin: 16px 0;
    }

    h3 {
        font-size: 30px;
        margin: 35px 0;
    }

    h5 {
        font-size: 16px;
    }

    header {
        justify-content: right;
    }

    header>a {
        margin: 0;
    }

    header .logo img {
        bottom: -26px;
        right: 16px;

        width: 32px;
        height: 32px;
    }

    header>input, header>img {
        width: 26px;
        height: 26px;

        left: 3.5%;
    }

    #accueil h1 {
        font-size: 40px;
    }

    #accueil-categorie figure {
        width: 100% !important;
    }

    #accueil-categorie>div h2 {
        font-size: 55px;
    }

    #voyages a {
        height: 336px;
        width: 240px;
        margin: 20px 0;
    }

    #voyages a img {
        height: 160px;
        width: 240px;
    }

    #voyages a h4 {
        height: 160px;
        width: 240px;
    }

    #formulaire article {
    box-shadow: 0 0 20px rgba(77, 61, 53, 0%);
    }

    #formulaire form {
        padding: 0;
    }

    #formulaire .ligne {
        flex-direction: column;
    }

    footer>div>div {
        width: 240px;
    }

    #recherche {
        top: 110px;
    }

    header nav {
        top: 150px;
    }

    footer a, footer p {
        font-size: 14px;
    }

    footer .logo img {
        bottom: -26px;
        right: 49px;

        width: 32px;
        height: 32px;
    }

    #reseaux img {
        width: 60px;
        height: 60px;
    }
}
/****************************************************Section3**********************************************************************/
#presentation{
    position: relative;
}
.presentation{
    background-color: whitesmoke;
    width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 0 rgb(77, 61, 53);
}
.imagesPresentation{
    width: 50%;
    height: 100%;
}
.textPresentation{
    width: 50%;
    height: 100%;
    position: relative;
}
.imagePresentation1{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.imagePresentation2{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.textPresentation h2{
    text-align: center;
}
.section3ronds{
    position: absolute;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}
.section3rondBlanc1{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
    border-style: solid;
    margin-top: 500px;
}
.section3rondBlanc2{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 500px;
}
.section3rondBlanc4{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
    border-style: solid;
    margin-top: 500px;
}
.section3rondBlanc3{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 500px;
}
.imageEquipe{
    position: relative;
    height: 600px;
}
.imageEquipe2{
    display: none;
    position: relative;
    height: 600px;
}
.textPresentation p{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    line-height: 1.5;
    font-size: 120%;
}
.section3fleche{
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    display: flex;
}
.section3flecheGauche{
    width:100%;
    height: 50%;
    margin: auto;
    margin-left: 15px;
}
.section3flecheDroite{
    width:100%;
    height: 50%;
    margin: auto;
    margin-right: 15px;
    text-align: right;
}
#section3Text2{
    display: none;
}
#presentation1{
    display: none;
}
/*************************************************Media Queries section 3**************************************************/
@media screen and (max-width:1412px){
    #presentation .presentation{
        width:100%
    }
}
@media screen and (max-width:939px){
    #presentation{
        display: none;
    }
    #presentation1{
        display: block;
    }
    .imagePresentation1a{
        width: 100%;
        border-radius: 10px;
    }
    .imagePresentation2a{
        width: 100%;
        border-radius: 10px;
    }
    #imageEquipe4{
        display: none;
    }
    .section3ronds{
        z-index: 3;
    }
    .presentation{
        background-color: whitesmoke;
        margin: auto;
        display: block;
        border-radius: 10px;
        box-shadow: 20px 20px 20px 0 rgb(77, 61, 53);
        border-style: solid;
    }
    .textPresentation{
        width: 100%;
    }
    .textPresentation h2{
        text-align: center;
        color: black;
    }
    .textPresentation p{
        width: 80%;
        height: 400px;
        text-align: justify;
        line-height: 1.5;
        color: black;
        margin: auto;
    }
    .section3fleche{
        display: flex;
    }
    .section3flecheGauche{
        width:100%;
        height: 100%;
        margin: auto;
        margin-left: 15px;
        text-align: center;
    }
    .section3flecheDroite{
        width:100%;
        height: 100%;
        margin: auto;
        margin-right: 15px;
        text-align: right;
        text-align: center;
    }
    #section3Text4{
        display: none;
    }

@media screen and (max-width:679px){
    .textPresentation p{
        line-height: 1.3;
    }
}
@media screen and (max-width:406px){
    .textPresentation .section3Text4 p{
        line-height: 1;
    }
}
@media screen and (max-width:335px){
    .textPresentation p{
        font-size: 115%;
    }
}
@media screen and (max-width:307px){
    .textPresentation p{
        font-size: 110%;
    }
}
@media screen and (max-width:279px){
    .textPresentation p{
        font-size: 100%;
    }
}

@media screen and (max-width:740px){
    .section3flecheGauche{
        margin-top: 50px;
    }
    .section3flecheDroite{
        margin-top: 50px;
    }
}

/****************************************************idees***************************************************************************/
#idees{
    margin-bottom: 20px;
}
#idees h2{
    margin-top: -40px;
}
.redirection{
    display: flex;
    width: 100% !important;
    height: 60vh;
    justify-content: space-between;
}
.redirection>*{
    box-shadow: 0 0 75px rgba(77, 61, 53, 15%);
    background-position: center;
}
.redirection .titre{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 200px;
    transition: 250ms;
}
.redirection>*:hover .titre{
    transform: scale(1.1);
}
.contenerTitre{
    width: 100%;
    height: 100%;
}
.redirection h4{
    margin: auto;
}
.redirection span img{
    height: 5px;
    border-radius: 10px;
    width: 20%;
}
.redirection1{
    width: 50%;
    margin-right: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(77, 61, 53);
    transition: 1000ms;
}
.redirection1:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.redirection2{
    width: 50%;
    margin-left: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(77, 61, 53);
    transition: 1000ms;
}
.redirection2:hover{
    cursor: pointer;
    transform: scale(1.01);
}
@media screen and (max-width: 750px){
    .redirection{
        flex-wrap: wrap;
    }
    .redirection{
        display: flex;
        width: 100% !important;
        height: 60vh;
        justify-content: space-between;
    }
    .contenerTitre{
        width: 100%;
        height: 100%;
    }
    .redirection span img{
        height: 5px;
        border-radius: 10px;
        width: 20%;
    }
    .redirection1{
        width: 100%;
        border-style: solid;
        background-position-y: center;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .redirection2{
        width: 100%;
        border-style: solid;
        background-position-y: center;
        margin-right: 5px;
    }
    .redirection .titre{
        padding-top: 100px;
    }
}
@media screen and (max-width:1226px){
    .textAPropos{
        line-height: 1.1 !important;
    }
}

/*****************************************************Caractéristiques voyages***************************************************************/
.imagesDuVoyage{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.blocCaracteristique{
    width: 80%;
    height: 100%;
    margin: auto;
}
.menuCaracteristique p{
    margin-top: 30px;
    text-align: center;
    font-size: clamp(19px, 20px, 21px);
}
.menuCaracteristique{
    margin-top: -4px;
    width: 100%;
    height: 100px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}
.menuCaracteristique:hover{
    cursor: pointer;
}
.menuPresentation{
    height: 100px;
    width: 25%;
    position: absolute;
    border-radius: 0 0 0 10px;
    background-color: white;
}
.menuPresentation p:hover{
    transform: scale(1.03);
}
.menuItineraire p:hover{
    transform: scale(1.03);
}
.menuHebergement p:hover{
    transform: scale(1.03);
}
.menuBudget p:hover{
    transform: scale(1.03);
}
.menuItineraire{
    height: 100px;
    width: 25%;
    margin-left: 25%;
    position: absolute;
    background-color: whitesmoke;
}
.menuHebergement{
    height: 100px;
    width: 25%;
    margin-left: 50%;
    position: absolute;
    background-color: whitesmoke;
}
.menuBudget{
    height: 100px;
    width: 25%;
    margin-left: 75%;
    position: absolute;
    background-color: whitesmoke; 
    border-radius: 0 0 10px 0;
}
.menuTextPresentation{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}
.menuTextItineraire{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: none;
}
.menuTextHebergement{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: none;
}
.menuTextBudget{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: none;
}
#imagesDuVoyage2{
    display: none;
}
#imagesDuVoyage3{
    display: none;
}
#imagesDuVoyage4{
    display: none;
}
.menuText2{
    display: none;
}
.menuCaracteristique2{
    display: none;
}
.menuTextBudget span .logoPrestation{
    padding-bottom: 5px;
}
.menuTextBudget2 span img{
    padding-bottom: 5px;
}
.caracteristiqueCabine{
    display: flex;
    margin-bottom: 10px;
}
.caracteristiqueCabineImage{
    width: 50%;
    margin-right: 10px;
}
.caracteristiqueCabineImage img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.caracteristiqueCabineText{
    width: 50%;
}
.caracteristiqueCabineText h3{
    color: rgb(69,123,148);
    border-style: none none solid none;
    margin-top: 0;
    margin-bottom: 0;
}
.caracteristiqueCabineText p{
    font-size: 15px;
}
.caracteristiqueEscale{
    display: flex;
}
.caracteristiqueEscaleText th{
    text-transform: uppercase;
    background-color: whitesmoke;
    font-size: 15px;
}
.caracteristiqueEscaleText td{
    border-style: none none solid none;
    border-color: rgb(69,123,148);
    text-align: center;
}
.caracteristiqueEscaleText table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.caracteristiqueEscaleText{
    width: 100%;
}
.caracteristiqueEscaleImage{
    width: 100%;
}
.caracteristiqueEscaleImage img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:680px){
    .imagesDuVoyage{
        width: 100%;
    }
}
@media screen and (max-width:901px){
    #titreBotswana{
        width: min-content !important;
        margin: auto !important;
        position: relative !important;
    }
    #rondBlancb{
        margin-top: 250px;
    }
}
@media screen and (max-width:835px){
    .caracteristiqueEscale{
        display: block;
        margin-top: 20px;
    }
    .caracteristiqueEscaleText th{
        text-transform: uppercase;
        background-color: whitesmoke;
    }
    .caracteristiqueEscaleText td{
        border-style: none none solid none;
        border-color: rgb(69,123,148);
        text-align: center;
    }
    .caracteristiqueEscaleText table{
        border-collapse: collapse;
        width: 100%;
        height: 100%;
    }
    .caracteristiqueEscaleText{
        width: 100%;
    }
    .caracteristiqueEscaleImage{
        width: 100%;
    }
    .caracteristiqueEscaleImage img{
        width: 100%;
        height: 100%;
    }
    .caracteristiqueCabine{
        display: block;
        margin-bottom: 10px;
    }
    .caracteristiqueCabineImage{
        width: 100%;
        margin-right: 10px;
        margin-top: 50px;
    }
    .caracteristiqueCabineImage img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .caracteristiqueCabineText{
        width: 100%;
    }
    .menuCaracteristique{
        display: none;
    }
    .menuCaracteristique2{
        margin-top: -4px;
        width: 100%;
        position: relative;
        border-radius: 0 0 10px 10px;
    }
    .menuPresentationFleche p{
        font-weight: bold;
        text-transform: uppercase;
    }
    .menuCaracteristique2{
        display: block;
    }
    .menuCaracteristique2 p{
        margin-top: 30px;
        font-size: clamp(19px, 20px, 21px);
    }
    .menuText{
        display: none;
    }
    .menuPresentationFleche{
        display: flex;
        justify-content: center;
    }
    .menuPresentationFleche img{
        margin-top: 22px;
    }
    .menuTextPresentation2{
        text-align: center;
        margin-bottom: 30px;
    }
    .menuPresentation2{
        background-color: whitesmoke;
        border-radius: 0 0 10px 10px;
    }
    .menuItineraire2{
        background-color: whitesmoke;
        border-radius: 0 0 10px 10px;
    }
    .menuHebergement2{
        background-color: whitesmoke;
        border-radius: 0 0 10px 10px;
    }
    .menuBudget2{
        background-color: whitesmoke;
        border-radius: 0 0 10px 10px;
    }
    .menuTextItineraire2{
        display: none;
        margin-bottom: 30px;
    }
    .menuTextHebergement2{
        display: none;
        margin-bottom: 30px;
    }
    .menuTextBudget2{
        display: none;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:360px){
    .tabEscale{
        display: none;
    }
}