@import "font.css";

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    
    text-decoration: none;
}

input {
    outline: none;
}

body>* {
    padding: 30px 5%;
}

header {
    position: absolute;
    top: 0;

    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    position: relative;
}

#logo h1 {
    color: rgb(255, 255, 255);
    font-family: 'Playball-Regular';
    font-size: 50px;
}

#logo img {
    position: absolute;
    bottom: -10px;
    right: 10px;
}

#recherche {
    display: flex;
    align-items: center;

    padding: 7px;
}

#recherche .barre {
    background: url(../img/icones/loupe.svg) center no-repeat;
    background-size: contain;

    border: none;

    height: 34px;
    width: 34px;

    cursor: pointer;

    transition: 125ms transform;
}

#recherche .barre:hover {
    transform: scale(120%);
}

#recherche .barre:focus {
    background: none;

    border-bottom: solid 1px rgb(255, 255, 255);

    height: 20px;
    width: 200px;

    transform: scale(100%);

    animation: elargissement_recherche 500ms;
}

#recherche .envoi {
    display: none;

    background: url(../img/icones/loupe.svg) center no-repeat;
    background-size: contain;

    border: none;

    height: 34px;
    width: 34px;

    cursor: pointer;
}

#recherche .barre:focus + .envoi {
    display: block;
}

@keyframes elargissement_recherche {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}

header a, input {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;

    margin: 5px;
}

header a {
    text-decoration: underline transparent;

    transition: 250ms;
}

header a:hover {
    text-decoration: underline rgb(255, 255, 255);
}

header #offres {
    text-decoration: none;

    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;

    margin: 20px;
    padding: 5px;
}

header #offres:hover {
    text-decoration: none;

    background-color: rgb(192, 25, 25);
}



#section_1 {
    background: url(../img/pexels-pixabay-258154.jpg) center no-repeat;
    background-size: cover;
    height: 45vw;
}