@import "font.css";

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    
    text-decoration: none;
}

input {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;

    outline: none;
}

body>* {
    padding: 70px 7.5%;

    transition: 250ms;
}

.ligne {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.separateur-vertical {
    background-color: rgb(255, 255, 255);
    width: 1px;

    transition: 500ms;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Playball-Regular', serif;
    font-size: 50px;

    margin: 39px 0;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'NoticiaText-Regular', serif;
    font-size: 35px;

    margin: 50px 0;

    transition: 250ms;
}

p {
    color: rgb(77, 61, 53);
    font-family: 'Asap-Regular', sans-serif;
    font-size: 22px;

    margin: 13px 0;
}

a {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;

    margin: 5px;

    text-decoration: underline transparent;

    transition: 250ms;
}

a:hover {
    text-decoration: underline rgb(255, 255, 255);
}

img {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 20px;
}

hr {
    border-color: rgb(161, 138, 126);

    margin: 30px 0;
}

header {
    position: absolute;
    top: 0;

    width: 100%;
    padding: 0 7.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>input, header>img {
    display: none;
}

.logo {
    position: relative;

    transition: 250ms;
}


.logo img {
    position: absolute;
    bottom: -32px;
    right: 21px;

    width: 40px;
    height: 40px;

    transform-origin: top center;

    transition: 250ms;
}

.logo:hover img {
    animation: valise 700ms;
}

@keyframes valise {
    from {transform: rotate(0);}
    22% {transform: rotate(25deg);}
    66% {transform: rotate(-10deg);}
    to {transform: rotate(0);}
}

#recherche {
    display: flex;
    align-items: center;

    padding: 7px;
}

#recherche .barre {
    background: url(../img/decorations/loupe.svg) center no-repeat;
    background-size: contain;

    border: none;

    height: 34px;
    width: 34px;

    cursor: pointer;

    transition: 125ms transform;
}

#recherche .barre:hover {
    transform: scale(120%);
}

#recherche .barre:focus {
    background: none;

    border-bottom: solid 1px rgb(255, 255, 255);

    height: 20px;
    width: 200px;

    transform: scale(100%);

    animation: elargissement_recherche 500ms;
}

#recherche .envoi {
    display: none;

    background: url(../img/decorations/loupe.svg) center no-repeat;
    background-size: contain;

    border: none;

    height: 34px;
    width: 34px;

    cursor: pointer;
}

#recherche .barre:focus + .envoi {
    display: block;
}

@keyframes elargissement_recherche {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}

header nav {
    width: 280px;
}

header #offres {
    text-decoration: none;

    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;

    margin: 20px;
    padding: 5px;
}

header #offres:hover {
    text-decoration: none;

    background-color: rgb(192, 25, 25);
}



#section_1 {
}



#section_2 {
    text-align: center;
}

blockquote {
    width: min-content;

    margin: auto;
}

blockquote p {
    white-space: nowrap;
    font-size: 26px;
}

blockquote cite {
    color: rgb(77, 61, 53);
    font-family: 'Asap-Italic', sans-serif;
    font-size: 18px;

    margin: 12px 0;
}

blockquote img {
    width: 35%;

    margin: 0 5px;

    transition: 500ms;
}

footer {
    background-color: rgb(77, 61, 53);

    text-align: center;

    padding: 30px 7.5%;
}

footer>div>* {
    width: 280px;
    margin: 25px auto;
}

footer .logo {
    margin-bottom: 70px;
}

footer .logo img {
    bottom: -32px;
    right: 39px;
}

#reseaux button {
    background-color: transparent;
    border: none;

    transition: 125ms;
}

#reseaux button:hover {
    transform: scale(1.08);
    cursor: pointer;
}

#reseaux img {
    width: 80px;

    transition: 250ms;
}

#contacts>div {
    text-align: left;

    width: min-content;

    margin: auto;
}

#contacts p {
    white-space: nowrap;
}

footer a:hover {
    text-decoration-color: rgb(161, 138, 126);
}

footer p, footer a {
    color: rgb(161, 138, 126);
    font-size: 16px;
}

@media screen and (max-width: 1264px) {

    .separateur-vertical {
        background-color: transparent;
    }
}

@media screen and (max-width: 1064px) {

    body>* {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }

    .separateur-vertical {
        display: none;
    }
}

@media screen and (max-width: 870px) {

    header>input {
        display: block;
        opacity: 0;

        position: absolute;
        z-index: 3;

        width: 34px;
        height: 34px;

        margin: 5px;

        cursor: pointer;
    }

    header>img {
        display: block;
        position: absolute;

        width: 34px;
        height: 34px;

        margin: 5px;

        transition: 125ms;
    }

    header>input:checked + img {
        transform: rotate(-90deg);
    }

    header .logo {
        margin: 39px auto;
        width: auto;
    }

    header .logo img {
        right: 20px;
    }

    #recherche {
        position: absolute;
        left: -200px;
        top: 120px;

        transition: 250ms;
    }

    header nav {
        display: flex;
        flex-direction: column;

        position: absolute;
        left: -200px;
        top: 160px;

        transition: 250ms;
    }

    #offres {
        margin: 15px 5px !important;

        white-space: nowrap;
        width: min-content;
    }

    header>input:checked ~ #recherche {
        left: 3.5%;
    }

    header>input:checked ~ nav {
        left: 3.5%;
    }
}

@media screen and (max-width: 740px) {

    blockquote {
        width: auto;
        max-width: 450px;
    }

    blockquote p {
        white-space: normal;
    }

    blockquote img {
        width: 25%;
    }
}

@media screen and (max-width: 464px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
        margin: 35px 0;
    }

    header .logo img {
        bottom: -26px;
        right: 16px;

        width: 32px;
        height: 32px;
    }

    header>input, header>img {
        width: 26px;
        height: 26px;
    }

    footer>div>div {
        width: 260px;
    }

    #recherche {
        top: 100px;
    }

    header nav {
        top: 140px;
    }

    footer .logo img {
        bottom: -26px;
        right: 49px;

        width: 32px;
        height: 32px;
    }

    #reseaux img {
        width: 60px;
        height: 60px;
    }
}